extends layout

block content
	#header.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
		.container-fluid.row
			.col-md-4
				img(src='html/img/logo.png',style='width:150px; display:inline-block;')
			.col-md-8
				h1				
					| #{pageTitle}
					small  &nbsp; &nbsp; 北京贝瑞和康生物技术有限公司生物信息部
	.container-fluid.bs-docs-container
		.row
			
			.col-md-12(role="main")
				
				h2#pinfo 1 项目信息
				- var info = JSON.parse(info)
				- var ob = JSON.parse(data)
				//slider
				mixin my_carousel(array,ID,Style)
					if array.length
						if array[1]
							.flexslider(id=ID,style=Style)
								ul.slides
									each val,index in array
										li
											a(href=val,class="lightbox",title=val.split("/").reverse()[0],rel=ID)
												img(src=val)
											p.flex-caption=val.split("/").reverse()[0]
							.flexslider(id=ID+"_t",style=Style)
								ul.slides
									each val,index in array
										li
											img(src=val)
						else
							.center
								img(src=array[0],style=Style)
				mixin my_table(array)
					if array.length
						//h6.center!=array[0].filename
						table.table.table-bordered.table-striped
							each val,index in array[0].array
								tr
									each val_line,index_line in val
										td=val_line
				mixin my_short_table(array)
					if array.length
						//h6.center!=array[0].filename
						table.table.table-bordered.table-striped
							each val,index in array[0].array
								if index<9
									tr
										each val_line,index_line in val
											td=val_line
				mixin my_html(array)
					if array.length
						ul
							each val in array
								li
									a(href=val)=val
				p 项目名称：
					span=info.projectName
				p 物种：
					span=info.species
				h2#intro 2 背景介绍
				p 转录组是连接基因组遗传信息与发挥生物功能的蛋白质组的纽带，转录水平的调控是最重要也是目前研究最广泛的生物体调控方式之一。在真核生物中，大多数基因通过选择性剪接可以产生多个转录体，极大提高了编码蛋白质的潜力。同一基因可有不同的，甚至是对立剪切方式的转录本亚型。因而，获得转录组的定性和定量信息是研究细胞生理分子机制的关键。最早研究基因表达要追溯到20世纪70年底后期的诺瑟杂交（Northern blot），能在膜上利用与特定基因互补配对的放射性探针来检测目的基因表达<sup>[1]</sup>。随着像表达序列标签技术（EST）的发展<sup>[2]</sup>，积累的基因信息和RNA信息，被用于定制芯片和商业芯片的开发<sup>[3]</sup>，可以检测已知基因及其选择性剪切的表达谱。然而，该技术存在不足：需要参考序列、灵敏度有限、非特异性杂交等。
				p 直到2008年二代高通量的转录组测序技术（RNA-Seq）的诞生<sup>[4]</sup>，无论是否有参考序列的生物都可以进行转录组测序，从而获取转录组的序列和表达信息。然而由于二代测序技术本身的读长短，在建库的时候需要将转录本打成碎片。在转录本异构体（Transcript isoforms）的组装过程中存在较多的嵌合体（chimeric）错误，丢失可变剪切等重要信息，对后续的转录组分析（基因家族、表达量分析等）造成了较大影响，大大制约了转录组数据的深度利用。
				p 然而，随着三代单分子测序的兴起和应用，以PacBio为代表的三代全长转录组测序可以实现无需组装即可获得高质量的单个全长转录本序列<sup>[5, 6]</sup>。美国Pacific Biosciences公司制造的RS系列和新型Sequel测序仪，是基于单分子实时（single molecular real time, SMRT）测序技术的单分子测序仪，平均读长8-15Kb，可以轻松跨越从5´末端到3´-Poly A tail的完整转录本，从而准确鉴定异构体<sup>[7]</sup>，并对可变剪接<sup>[8, 9]</sup>、融合基因<sup>[10]</sup>、同源基因、超家族基因或等位基因表达等进行精确分析<sup>[7]</sup>，亦可深入分析新功能基因或新的异构体[11]。三代单分子测序技术极大地降低了无参转录组的分析难度，促进了获得完整基因组和全长转录组的能力，更利于转录组的深入分析和信息挖掘。
				h2#doc 3 建库测序流程
				p 全长转录组测序实验流程包括样品检测、文库构建和上机测序三步，如下：
				h3 3.1 样品检测
				p PacBio Iso_seq RNA样品检测方法包括以下两种：
				ul
					li NanoDrop 2000分光光度法：检测 Total RNA的浓度和纯度（OD 260/280 比值）；
					li Agilent 2100系统：检测Total RNA完整度和浓度定量。
				h3 3.2 文库构建
				p 样品要求浓度和总量达标，RNA完整无降解，无DNA和蛋白污染，无高浓度离子、螯合剂、变性剂等杂质，即可进入建库流程。文库构建流程如下：
				p（1）用带有Oligo（dT）的磁珠富集真核生物mRNA；
				p（2）使用SMARTer™ PCR cDNA Synthesis Kit，将mRNA反转录成cDNA；
				p（3）PCR扩增富集全长cDNA；
				p（4）使用BluePippin筛选全长cDNA片段，构建不同长度插入片段的文库；
				p（5）筛选后的全长cDNA进行再次PCR富集；
				p（6）对全长cDNA进行末端修复，连接SMRT哑铃型接头，获得SMRT bell文库；
				p（7）使用BluePippin针对3-6kb和5-10kb SMRT bell文库（可选）进行二次筛选，获得测序文库。
				.center
					//a(href="html/img/pac-lab.jpg",class="lightbox")
					img(src="html/img/pac-rna-lab.jpg",style="width:40%")
					h6  真核生物全长转录组建库流程
				h3 3.3上机测序
				p 不同长度的文库构建完成后，先使用 Qubit 2.0 进行定量，并用 Agilent 2100 对文库的 insert size 进行检测，经PacBio Caculater计算后，按照比例将测序引物和测序酶结合到SMRT模板上，进行上机测序。PacBio RSII系列和Sequel测序系统以SMRT Cell为测序载体，分别含有150, 000个和1,000,000纳米级的零模波导孔（ZMW），每个ZMW能包含一个DNA聚合酶及一条DNA样品链，并通过不同荧光标记的核苷酸及荧光激发的过程，将不同碱基的信号捕捉下来，从而得到碱基序列信息。PacBio测序系统测序平均读长8Kb-15Kb，最长可达到40Kb-80Kb。目前PacBio RSII测序仪可以产出数据500Mb-1.5Gb/SMRT Cell，而新型Sequel则可以产出2Gb-5Gb/SMRT Cell。对于单个样本检测中高表达转录本，一般需要4Gb的数据产出；对于混合样本检测中高表达转录本，一般需要8Gb的数据产出。
				h3 3.4 样品测序信息
				p 样本物种：
					span=info.species
				p 测序数据：
					span=info.data
				+my_table(ob.PacBio_sample)
				div 注：
				div Polymerase Read Bases：原始数据量（过滤后）
				div Polymerase Reads：Polymerase reads条数（过滤后）
				div Polymerase Read N50：Polymerase Read N50长度（过滤后）
				div Polymerase Read Length：Polymerase Read 平均长度（过滤后）
				div Polymerase Read Quality：Polymerase Read质量（过滤后）
				div 数据路径：/result/IsoSeq/PacBio_sample.xls
				h2#result 4 生物信息分析
				p PacBio Sequel测序平台对不同长度的cDNA文库进行测序，得到大量的下机数据，称为Raw reads。我们首先对Raw reads进行质控和过滤，去除低质量和读长较短的reads。过滤后的reads通过分类、聚类和矫正获得全长转录本；由于全长转录本聚类较为严格，为了去除冗余的转录本，采用CD-HIT软件对全长转录本去冗余。得到非冗余的全长转录本后，可以对全长转录本进行编码区（CDS）的预测、简单序列重复(Simple Sequence Repeats , SSR)预测、以及功能注释。此外，PacBio数据也可以结合二代的转录组数据进行转录本定量分析，转录本差异分析，以及功能富集分析等等。详细的信息分析流程图如下：
				.center
					a(href="html/img/pipeline.png",class="lightbox")
						img(src="html/img/pipeline.png",style="width:30%")
					h6  信息分析流程
				h3#r1 4.1 原始数据说明
				p Pacbio Sequel测序平台每个SMRT cell下机数据的目录结构如下：
				//+my_carousel(ob.PacBio_rawdata,"carousel1","width:40%")
				.center
					a(href="html/img/PacBio_rawdata.png",class="lightbox")
						img(src="html/img/PacBio_rawdata.png",style="width:40%")
				div 注：subreadset.xml文件主要包括数据的基本信息，包括所使用的酶和化学试剂信息、样品名称等信息；Pacbio Sequel测序数据以bam的格式存储。
				// div 格式说明请参考：<a href="https://github.com/PacificBiosciences/SMRT-Analysis/wiki/Data-files-you-received-from-your-service-provider">https://github.com/PacificBiosciences/SMRT-Analysis/wiki/Data-files-you-received-from-your-service-provider</a>
				// div 数据路径：/result/IsoSeq/*/PacBio_rawdata.png
				h3#r2 4.2 术语解释
				p PacBio平台构建的文库形状是一个类似哑铃（“套马环”）的结构，称为SMRT bell文库，中间是测序片段，两端是环状的测序接头； SMRT Cell的每个零模波导孔测序得到环形一致读段（CCS）的过程如下图：
				.center
					a(href="html/img/pac.png",class="lightbox")
						img(src="html/img/pac.png",style="width:40%")
					h6  PacBio文库和读段示意图
				ul
					li （1）SMRT adapter：测序接头。
					li （2）Polymerase read: 测序读段，指由DNA聚合酶沿着“套马环”模板链反应合成的核苷酸序列。
					li （3）Subread：测序子读段，根据接头序列将测序读段打断后的序列 <sup>[12]</sup>。
					li （4）Full pass：完整子读段，指同时包含5´端和3´端测序引物的测序子读段。
					li （5）Reads of Insert (ROI): 插入读段，当零模波导孔中的测序读段被打断成多个测序子读段时，它们的环形一致性读段即为插入读段；当零模波导孔中只有一个测序子读段时，该测序子读段即为插入读段。
					li （6）Full-Length Read：全长转录本，两端同时包含5´端和3´端测序引物，及3´端测序引物前含有polyA尾的插入读段。
				p 此外，零模波导孔中也会测到一些异常的插入读段，例如嵌合序列（Chimeras）。往往是由接头浓度不足、PCR引物浓度或生物学原因引起原始序列的插入读段间接头或引物缺失而形成的。主要包括下图两种情况，通过测序的方法仅可检测下图中第一种类型的嵌合序列。
				.center
					a(href="html/img/Chimera.jpg",class="lightbox")
						img(src="html/img/Chimera.jpg",style="width:40%")
					h6  嵌合序列示意图
				h3#r3 4.3 数据的过滤和质控
				p 对于测序下机的数据，我们首先进行过滤，过滤掉片段长度短于50bp、准确度低于0.75的测序子读段。每个零模波导孔剩下的单个测序子读段或多个测序子读段的一致性读段，即是插入读段（Reads of Insert, ROI）。插入读段的长度（Length）、质量值（Quality）和完整读段数（Number of Full passes）的分布图分别如下。其中前两类图右侧纵坐标对应图中的黑色曲线，代表长度或质量值小于横坐标上特定值的序列的总碱基数。
				.col-xs-4
					+my_carousel(ob.roi_readlength_hist,"carousel2","width:90%")
					h6.center  ROI的长度分布图
					div 数据路径：/result/IsoSeq/*/*/roi_readlength_hist.png
				.col-xs-4
					+my_carousel(ob.roi_accuracy_hist,"carousel3","width:90%")
					h6.center  ROI的质量分布图
					div 数据路径：/result/IsoSeq/*/*/roi_accuracy_hist
				.col-xs-4
					+my_carousel(ob.roi_npasses_histl4,"carousel4","width:90%")
					h6.center  ROI的完整读段数分布图
					div 数据路径：/result/IsoSeq/*/*/roi_npasses_hist
				//.col-xs-12
				//	+my_carousel(ob.roi_length_density,"carousel5","width:40%")
				//	h6.center  ROI长度的密度分布图
				//	div 数据路径：/result/IsoSeq/*/*roi_length_density.png
				div(class="clearfix")
				br
				p ROI的长度分布与构建的cDNA文库片段的大小有关，建库时，cDNA文库片段越长，产生的ROI长度也就越长。ROI的质量分布图反映了序列的准确性，通常情况下，我们会筛选准确性大于0.75的ROI进行后续分析。完整读段数可以反映每个零模波导孔的测序深度，完整读段数越多，测序读长越长，序列的准确性可能就越高。
				.col-xs-12
					+my_carousel(ob.roi_length_density,"carousel5","width:50%")
					h6.center  ROI长度的密度分布图
					div 数据路径：/result/IsoSeq/*/*roi_length_density.png
				div(class="clearfix")
				br
				p ROI详细信息统计结果如下表：
				+my_table(ob.reads_of_insert_report)
				div 注：Samples：样品名称； 
				div cDNA Size：建库时插入片段大小；
				div Reads of Insert：ROI数目； 
				div Read Bases of Insert：ROI总碱基数； 
				div Mean Read Length of Insert：ROI序列的平均长度； 
				div Mean Read Quality of Insert：RoI序列的平均质量值； 
				div Mean Number of Passes：ROI的平均完整读段数。
				div 结果路径：/result/IsoSeq/*/*roi_stat.xls
				div 插入片段序列:/result/IsoSeq/*/read_of_insert.fasta
				
				h3#r4 4.4 转录本的分类和聚类
				p 获得高质量全长转录本是通过SMRT analysis分析软件中IsoSeq标准化流程实现的。对于上一步获得的ROI, 按照是否含有3´引物和5´引物，及3´引物前是否含有polyA尾将ROI分为全长转录本和非全长转录本；按照序列内部有无测序引物将ROI分为嵌合转录本和非嵌合转录本；对ROI分类后，取全长非嵌合的转录本进行聚类，去掉一部分冗余的转录本; 为了提高序列的准确性，聚类后的全长非嵌合转录本可以用非全长非嵌合的转录本进行序列矫正，最终获得高质量的全长转录本和低质量的全长转录本。详细的分析流程如下图：
				.center
					a(href="html/img/cluster.jpg",class="lightbox")
						img(src="html/img/cluster.jpg",style="width:50%;")
					h6  转录本分类和聚类流程图
				p 对ROI进行分类，得到全长非嵌合转录本和非全长非嵌合转录本，详细的统计信息如下表：
				+my_table(ob.classify_summary_t)
				div 注：cDNA Size：建库时插入片段大小； 
				div Reads of Insert：ROI数目；
				div Number of five prime reads：含有5'段引物的ROI数目；
				div Number of three prime reads：含有3'段引物的ROI数目；
				div Number of poly-A reads：含有poly-A尾的ROI数目；
				div Number of filtered short reads：过滤掉的短片段的ROI数目；
				div Number of non-full-length reads：非全长ROI数目；
				div Number of full-length reads：全长ROI数目；
				div Number of full-length non-chimeric reads：全长非嵌合ROI数目；
				div Full-Length Percentage（FL%）：全长ROI所占的百分比；
				div Average full-lengthnon-chimeric read length：全长非嵌合ROI的平均长度。
				div 数据路径：/result/IsoSeq/*/*classify_stat.xls
				//+my_carousel(ob.flnc_length_density,"carousel6","width:40%")
				//h6.center  全长非嵌合转录本长度的密度分布图
				//div 数据路径：/result/IsoSeq/*/*flnc_length_density.png
				br
				p 通常情况下，全长转录本的长度分布和数目可以反映cDNA文库构建的情况以及测序质量的好坏。ROI分类后的全长转录本长度分布应与建库大小相一致，片段越长的文库获得的全长转录本就越长。此外，全长转录本占ROI的比例与文库类型也有关，通常情况下，1-2k文库中所占的比例在50%-70%，3-5k文库中所占的比例在30%左右。
				+my_carousel(ob.flnc_length_density,"carousel6","width:50%")
				h6.center  全长非嵌合转录本长度的密度分布图
				div 结果路径：/result/IsoSeq/*/*flnc_length_density.png
				br
				p 各类ROI所占百分比情况如下图：
				+my_carousel(ob.classify_summary,"carousel7","width:40%")
				h6.center  ROI分类百分比图
				div 注：full-length reads：全长ROI；
				div full-length non-chimeric reads：全长非嵌合ROI；
				div full-length chimeric reads：全长嵌合ROI数目；
				div filtered short reads: 过滤掉的短片段的ROI
				div 数据路径：/result/IsoSeq/*/*/classify_summary.png
				br
				p 获得全长非嵌合转录本后，由于单个cDNA文库的全长非嵌合转录本中可能存在很多重复的转录本，我们需要对转录本进行去冗余。通过ICE（isoform-level clustering algorithm）算法对全长转录本序列进行迭代聚类，将相似的序列聚类到一簇cluster，每簇得到一个一致转录本。结合非全长转录本，使用矫正（polish）程序对每簇的一致序列进行矫正，得到准确度大于99%的高质量转录本（high-quality isoforms），和低质量转录本（low-quality isoforms）。详细的统计结果见下表：
				+my_table(ob.cluster_summary)
				div 注：cDNA Size：建库时插入片段大小； 
				div Number of consensus isoforms：ICE聚类得到的一致转录本序列数目； 
				div Average consensus isoforms length：一致转录本序列平均长度； 
				div Number of polished high-quality isoforms：经矫正后的高质量（准确度>0.99）一致转录本数目；
				div Number of polished low-quality isoforms：经矫正后的低质量（准确度<0.99）一致转录本数目。
				div 数据路径：/result/IsoSeq/*/*cluster_stat.xls
				+my_carousel(ob.consensus_length_density,"carousel8","width:50%")
				h6.center  一致性转录本长度的密度分布图
				div 数据路径：/result/IsoSeq/*/*consensus_length_density.png
				h6 结果文件：
				p 全长非嵌合转录本序列：/result/IsoSeq/*/*/*flnc.fa
				p 非全长转录本序列：/result/IsoSeq/*/*/*nfl.fa
				p 聚类后一致性序列：/result/IsoSeq/*/*/consensus_isoforms.fa
				p 高质量全长转录本序列：/result/IsoSeq/*/*/*high_qv_consensus_isforms.fa
				p 低质量全长转录本序列：/result/IsoSeq/*/*/*low_qv_consensus_isoforms.fa
				br
				p 此外，将不同长度cDNA文库的低质量的一致转录本用二代转录组测序的短读长进行LSC序列矫正，进一步获得高质量的一致转录本。 最后，将经LSC矫正的一致转录本和不同长度cDNA文库的高质量的一致转录>本进行合并，即为该样品的高质量全长转录本。
				div 该样品的高质量全长转录本：/result/CD-hit-est/*/*_all_high_qv_consensus_isoforms.fasta
				h3#r5 4.5 全长转录本去冗余
				p 由于IsoSeq流程中获得高质量全长转录本的聚类过程参数设置较严格，同一转录本的多拷贝序列被分到不同簇的可能性较大，会产生一些冗余的序列；此外，同一样品不同文库间的高质量全长转录本也有一定的重叠。因此，我们采用CD-HIT软件对高质量全长转录本进一步去冗余 (参数：c= 0.99 、T =6 、G=1，U=10、s=0.999 、d=40 、p=1)，去冗余后得到非冗余的高质量转录本。
				div 非冗余高质量转录本：/result/CD-hit-est/*/CD-hit-est.fasta
				h3#r6 4.6 CDS预测
				p 基于序列上的翻译阅读框，我们采用TransDecoder软件对去冗余后的高质量全长转录本进行CDS预测。TransDecoder计算并比较6个翻译框的编码可能性值（coding likelihood score），找出能编码100个氨基酸以上的CDS；当翻译框的编码可能性值较低时，还可以根据同已知蛋白数据库（Pfam、SwissProt）的同源搜索结果作为保留翻译框的依据。预测的CDS的序列名有四个字段，如下：
				p >RS2_above3k_1:98-3451(+) ORF type:complete len:1118
				div 注：字段一：>转录本名:翻译框对应转录本或互补链上碱基位置，是CDS的唯一识别符；
				div 字段三：CDS的序列类型，分为complete、5prime_partial、3prime_partial、internal四种；
				div 字段四：CDS的碱基长度。
				div 结果文件：
				p 预测的CDS序列：/result/Transdecoder/*/UniIso.fa.transdecoder.cds.fa
				p 与pfam数据库和Swissprot蛋白数据库比对后的gff文件：/result/Transdecoder/*/transdecoder.gff3
				p 预测CDS区编码的氨基酸序列：/result/Transdecoder/*/transdecoder.pep.fa
				h3#r7 4.7 转录本注释
				h4 4.7.1 NT/NR/Swiss-Prot/GO/KEGG/KOG注释
				p 为了得到全长转录本的功能信息，我们将高质量的全长转录本序列分别与NT、NR、Swissprot等数据库进行比对，从而得到全长转录本的注释信息,其中各类数据库简介如下：
				p NT (NCBI nucleotide sequences) 是NCBI官方的核酸序列数据库，包括了GenBank，EMBL和DDBJ（但不包括EST,STS,GSS,WGS,TSA,PAT,HTG序列）的核酸序列。
				p NR (NCBI non-redundant protein sequences) 是NCBI官方的蛋白序列数据库，它包括了GenBank基因的蛋白编码序列，PDB(Protein Data Bank)蛋白数据库、SwissProt蛋白序列及来自PIR（Protein Information Resource）和PDF（Protein Research Foundation）等数据库的蛋白序列。
				p Swiss-Prot 搜集了经过有经验的生物学家整理及研究的蛋白序列。详见<a href="http://www.ebi.ac.uk/uniprot/">http://www.ebi.ac.uk/uniprot/</a>。
				p Gene Ontology（简称GO）是一个国际标准化的基因功能分类体系，提供了一套动态更新的标准词（controlled vocabulary）来全面描述生物体中基因和基因产物的属性。
				p KEGG是一类系统分析基因产物和化合物在细胞中的代谢途径以及这些基因产物的功能的数据库。它整合了基因组、化学分子和生化系统等方面的数据,包括代谢通路（KEGG PATHWAY）、药物（KEGG DRUG）、疾病（KEGG DISEASE）、功能模型（KEGG MODULE）、基因序列（KEGG GENES）及基因组（KEGG GENOME）等等。详见 <a href="http://www.genome.jp/kegg/">http://www.genome.jp/kegg/</a>。
				p KOG即“同源蛋白簇”。构成每个KOG的蛋白都是被假定为来自于一个祖先蛋白，并且因此或者是orthologs或者是paralogs。Orthologs是指来自于不同物种的由垂直家系（物种形成）进化而来的蛋白，并且典型的保留与原始蛋白有相同的功能。Paralogs是那些在一定物种中的来源于基因复制的蛋白，可能会进化出新的与原来有关的功能。
				+my_table(ob.Function_Annotation)
				div 数据路径：/result/Annotation/*/Function_Annotation.stat.xls
				br
				p 上表为注释信息统计，同一转录本可能注释到不同的数据库中，当转录本同时注释到三个及三个以上不同的数据库时，体现转录本的注释的准确性。下图为转录本同时注释到不同数据库的比例。
				+my_carousel(ob.venn,"carousel9","width:40%")
				h6.center  转录本注释维恩图 
				div 数据路径：/result/Annotation/*/Anno_Venn.png
				h4 4.7.2 GO分类
				p GO分为三大类ontology：生物过程（Biological Process）、分子功能（Molecular Function）和细胞组分(Cellular Component)，分别用来描述基因编码的产物所参与的生物过程、所具有的分子功能及所处的细胞环境。GO的基本单元是term，每个term有一个唯一的标示符（由“GO:”加上7个数字组成，例如GO:0072669）；每类ontology的term通过它们之间的联系，构成一个有向无环的拓扑结构。详见 <a href="http://www.geneontology.org">http://www.geneontology.org/</a>。对全长转录本进行GO的注释，获得每个转录本的GO信息，并对其进行二级分类统计。如下图，图形反映了基因数目在GO注释中的分布情况。
				+my_carousel(ob.go,"carousel10","width:60%")
				h6.center  GO注释二级分类统计图 
				div 数据路径：/result/Annotation/*/GO/GO_classification_bar.png
				h4 4.7.3 KOG或COG 分类
				p KOG/COG都是NCBI基于基因直系同源关系的分类数据库，其中COG针对原核生物，KOG针对真核生物。COG/KOG结合进化关系将来自不同物种的同源基因分为不同的Ortholog簇，目前COG有4873个分类，KOG有4852个分类。来自同一Ortholog的基因具有相同的功能，这样就可以将功能注释直接继承给同一COG/KOG簇的其他成员。
				+my_carousel(ob.kog,"carousel11","width:60%")
				h6.center  KOG分类统计图 
				div 数据路径：/result/Annotation/*/KOG/UniIso.fa.KOG.class.png
				h4 4.7.4 KEGG Pathway分析
				p KO（KEGG ORTHOLOG）系统将各个KEGG注释系统联系在一起，KEGG已建立了一套完整KO注释的系统，可完成新测序物种的基因组或转录组的功能注释。我们对KEGG PATHWAY 注释结果进行分类统计，结果如下表：
				+my_short_table(ob.kegg)
				div 注：Pathway Hierarchy1：KEGG PATHWAY的第一层分类；
				div Pathway Hierarchy2：KEGG PATHWAY的第二层分类；
				div Gene number：参与该pathway的转录本数目。
				div 数据路径：/result/Annotation/*/KEGG/KEGG_classification_count.txt
				br
				p 对转录本做KO注释后，可根据它们参与的KEGG代谢通路进行分类，结果如下图：
				+my_carousel(ob.KEGG_classification,"carousel12","width:60%")
				h6.center  KEGG分类图 
				div 注：A：Cellular Processes，细胞过程；
				div B：Environmental Information Processing，环境信息处理；
				div C：Genetic Information Processing，遗传信息处理；
				div D：Metabolism，代谢；
				div E：Organismal Systems，有机系统。
				div 数据路径：/result/Annotation/*/KEGG/KEGG_classification.png
				if ob.group.length
					h3 4.8 基因家族预测
					p 基因家族的概念主要有两种分类：(1)按功能划分，例如常用的CAZyme注释或者Pfam注释，会把一些功能类似的基因聚类，形成一个家族；(2)按照序列相似程度划分，将旁系同源的基因放在一起认为是一个家族，往往按序列相似性归为一个家族的基因在功能上有一定的相似或相关性，一般使用OrthoMCL进行聚类<sup>[13, 14]</sup>。
					p 我们采用OrthoMCL软件对预测的CDS对应的蛋白序列进行基因家族预测，基本过程包括对所有预测的蛋白序列进行all-v-all BLAST比对，计算序列之间相似性，并采用马尔科夫聚类算法进行聚类分析。结果文件表头有三个字段如下：
					p.center
						span Group_acc		# of Genes		Genes
					div 注：Group_acc：基因家族的ID；
					div # of Genes：基因家族的基因数；
					div Genes：具体的基因ID。
					div 数据路径：/result/OrthoMCL/*/*.group.xls
				if ob.ssr_density.length
					h3#r7 4.9 SSR预测
					p 真核基因组中存在着大量的串联重复序列, 按重复单位的大小, 串联重复可分为卫星（重复序列>70bp）、小卫星（6-70bp）和微卫星DNA (1-6bp)。 微卫星是指基因组中以少数几个核苷酸(1-6bp) 为单位多次串联重复组成的长达几十个核苷酸的序列 ，又称简单序列重复(Simple Sequence Repeats , SSR)。SSR在群体中丰富的遗传多态性可以用于绘制遗传连锁图谱、分析连锁不平衡和分析遗传多态性等。我们采用MiSa结合Primer3对去冗余后的高质量转录本进行SSR预测，预测后的SSR密度图如下：
					+my_carousel(ob.ssr_density,"carousel13","width:40%")
					h6.center  SSR密度图 
					div 注：p1:1个碱基重复10次及10次以上；
					div p2:2个碱基重复6次及6 次以上； 
					div p3:3个碱基重复5次及5次以上；
					div p4:4个碱基重复5次及5次以上；
					div p5:5个碱基重复5次及5次以上；
					div p6:6个碱基重复5次及5次以上，这样的碱基重复序列才算是微卫星序列。
					div c:两个微卫星之间的距离小于100bp的时候，两个微卫星组成一个复合微卫星。
					div 数据路径：/result/SSR/*/ssr_density.png
				if ob.lncRNA_length_cout.length
					h3#r8 4.10 LncRNA预测
					p 人们对长非编码RNA（Long noncoding RNA, LncRNA）的认识还处在初级阶段，LncRNA起初被认为是基因组转录的“噪音”，是RNA聚合酶II转录的副产物，不具有生物学功能。然而，近年来的研究表明，LncRNA参与了人X染色体沉默，基因组印记以及染色质修饰，转录激活，转录干扰，核内运输等多种重要的调控过程，LncRNA的这些调控作用也开始引起人们广泛的关注[15, 16]。哺乳动物基因组序列中4%~9%的序列产生的转录本是LncRNA（相应的蛋白编码RNA的比例是1%），虽然近年来关于LncRNA的研究进展迅猛，但是绝大部分的LncRNA的功能仍然是不清楚的。随着研究的推进，各类LncRNA的大量发现，LncRNA 的研究将是基因组研究非常吸引人的一个方向，使人们逐渐认识到基因组存在人类知之甚少的“暗物质”。
					p LncRNAs通常大于200bp，具有mRNA样结构，经过剪接，具有polyA尾巴与启动子结构，分化过程中有动态的表达与不同的剪接方式。我们采用ncrna_pipeline软件对去冗余后的高质量转录本进行LncRNA预测，预测后的LncRNA的长度分布如下。
					+my_carousel(ob.lncRNA_length_cout,"carousel14","width:40%")
					h6.center  LncRNA长度分布图 
					div 数据路径：/result/LncRNA/*/lncRNA_length_cout.png
				h3#r10 4.8 高级信息分析
				p 由于PacBio三代测序数据的错误率较高，二代转录组数据可以用来矫正三代获得的转录本序列，以提高序列的准确性；此外，三代转录本亦可以作为参考序列，结合二代数据对转录本进行定量，比较不同样品间转录本的差异表达，进而分析差异表达转录本所在通路的分类和功能。
				h4 4.8.1 参考序列比对
				p 以三代全长转录本作为参考序列，将每个样品的clean reads比对回参考序列。该过程采用了bowtie2（V2.1.0）软件，比对情况统计结果见下表：
				+my_table(ob.align_summary)
				div 注：Total Reads: 过滤后clean reads的总量
				div Uniq mapped reads(ratio)： 唯一比对上的reads数量(比例)
				div Multi mapped Reads(ratio)： 多比对位点的reads数量(比例)
				div 数据路径：/result/Expression_evaluation/Total_mapped.stat.xls
				h4 4.8.2 表达水平分析
				p 二代clean reads比对回三代参考序列后，利用RSEM1.2.15软件，计算出每个转录本在各个样本中的表达量FPKM值，FPKM表示每百万比对片段中比对到转录本每千个碱基的数量，FPKM法能消除基因长度和测序量差异对计算基因表达的影响，计算得到的转录本表达量可直接用于比较不同样品间的基因表达差异。
				+my_short_table(ob.genes)
				div 注：transcript_id： 转录本ID
				div length： 该基因所产生的最长的转录本的长度
				div count: 该基因的有效reads覆盖数
				div FPKM： 该基因的表达量
				div 数据路径：/result/Expression_evaluation/*/*TranscriptExp.xls
				h4 4.8.3 差异表达分析
				p 转录本不同样本间或实验条件间的表达量存在差异，基于比对结果，利用edgeR软件分析转录本在各样本中的差异表达情况，计算出差异表达的Pvalue和FDR值，FDR是校正后的Pvalue，FDR值越小，表示基因表达差异越显著。当样品无生物学重复时，差异基因数目会偏多，为了控制假阳性率，需FDR值结合FoldChange来筛选差异基因，筛选条件为：FDR<0.001 & log2|FoldChange|>1。下图是过滤后筛选出的差异基因结果：
				//.col-md-6
				//	+my_carousel(ob.MA,"carousel9","width:60%")
				//	h6.center  差异表达丰度图 
				//	div 注：logFC： log2|FoldChange|值，即log2(sample2_FPKM/sample1_FPKM)，其中sample1_FPKM为样本1的FPKM值，sample2_FPKM为样本2的FPKM值；
				//	div logCounts: count 为该基因的有效reads覆盖数，log2(Counts)
				//	div 红色点：上调差异显著的基因
				//	div 绿色点：下调差异显著的基因
				//	div 数据路径：/result/Differential_expression/*.edgeR.DE_results.MA.png
				.col-md-12
					+my_carousel(ob.Volcano,"carousel15","width:40%")
					h6.center  差异表达火山图 
					div 注：logFC： log2|FoldChange|值，即log2(sample2_FPKM/sample1_FPKM)，其中sample1_FPKM为样本1的FPKM值，sample2_FPKM为样本2的FPKM值；
					div FDR: False Discoverge Rate，即校正后的Pvalue，FDR值越小，表示基因表达差异越显著
					div 红色点：上调差异显著的基因
					div 绿色点：下调差异显著的基因
					div 数据路径：/result/Differential_expression/*.edgeR.DE_results.Volcano.png
				div(class="clearfix")
				h4 4.8.4 差异表达热图分析
				p 差异转录本聚类热图分析用于判断不同实验条件下差异转录本表达量的聚类模式。每个比较组合都会得到一个差异转录本集，将所有比较组合的差异转录本集的并集在不同样品中的FPKM值，用于层次聚类分析，以热图的方式展示差异表达转录本间及差异表达样本间的关系。如下图：
				.col-md-12
					+my_carousel(ob.heatmap,"carousel16","width:50%")
					h6.center  差异表达基因聚类热图 
					div 数据路径：/result/Differential_expression/*.genes_vs_samples_heatmap.png
				
				div(class="clearfix")
				h4 4.8.5 差异表达转录本GO富集分析
				p 根据实验目的筛选出差异转录本后，研究差异表达转录本在 Gene Ontology 中的分布状况将阐明实验中样本差异在基因功能上的体现。统计被显著富集的各个GO term中的转录本数，以柱状图的形式展示。如下图：
				+my_carousel(ob.GO_Term,"carousel17","width:60%")
				h6.center  三个大类Top20 GO term富集图 
				div 数据路径：/result/Differential_expression/GO/*_GO_Term.png
				br
				p topGO有向无环图（见下图）能直观展示差异转录本富集的GO term及其层级关系。有向无环图为差异转录本GO富集分析的结果图形化展示方式，分支代表包含关系，从上至下所定义的功能范围越来越具体。对GO三大分类（CC细胞成分，MF 分子功能，BP生物学过程）的每一类都取富集程度最高的前5位作为有向无环图的主节点，用方框表示，并通过包含关系将相关联的GO term一起展示，颜色的深浅代表富集程度，颜色越深代表富集程度越高。每个方框或圆圈代表一个GO term，放大方框中内容从上到下代表的含义依次为:GO term的id、GO的描述、 GO富集的Pvalue、该GO下差异转录本的数目/该GO下背景基因的数目，每组比较三张图（BP,CC,MF）。
				+my_carousel(ob.SigOfNodes,"carousel18","width:40%")
				h6.center  topGO有向无环图 
				div 数据路径：/result/Differential_expression/GO/*_SigOfNodes.png
				h4 4.8.6 差异表达转录本KEGG富集分析
				p 在生物体内，不同基因相互协调行使其生物学功能，通过Pathway显著性富集能确定 差异表达转录本参与的最主要生化代谢途径和信号转导途径。KEGG（Kyoto Encyclopedia of Genes and Genomes）是有关Pathway的主要公共数据库。Pathway 显著性富集分析以KEGG Pathway为单位，应用超几何检验，找出与整个基因组背景相比， 在差异表达转录本中显著性富集的 Pathway。
				+my_carousel(ob.pathway_enrichment,"carousel19","width:50%")
				h6.center  差异基因KEGG富集柱状图 
				div 数据路径：/result/Differential_expression/KEGG/*_vs_*/pathway_enrichment.png
				br
				p 注释完成后使用KOBAS 2.0进行Pathway富集分析，将差异基因富集通路图展示出来，如下图所示，图中用红色标记好了基因所在，小方框代表蛋白，红色的小方框代表候选靶基因对应的蛋白，鼠标悬停于该节点，会弹出相应的靶基因id。点击各个节点，可以连接到KEGG官方数据库中各个KO的具体信息页。
				+my_carousel(ob.KEGG_ko,"carousel20","width:35%")
				h6.center  差异基因富集通路图
				div 数据路径：/result/Differential_expression/KEGG/*_vs_*/pathway_map/
				if ob.PCA.length
					h3 4.12 个性化分析
					h4 4.12.1 样品PCA分析
					p 主成份分析方法可以对转录组测序的样本聚类情况进行可视化，可获得样本在实验组和对照组之间的直观分布情况，从而便于对异常样本进行检测和去除，否则异常样本的存在将会对差异基因的鉴定等后续分析造成不利影响。在 R 语言下对转录组数据样本进行矩阵分组，构建三维结构的 PCA 分布图。若有异常样本，则同组样本距离较远。
					.center
						a(href="html/img/A_PCA.gif",class="lightbox")
							img(src="html/img/A_PCA.gif",style="width:40%")
					//+my_carousel(ob.PCA,"carousel20","width:40%")
					//div 数据路径：/result/Specific/PCA/*.gif
					h6.center 样品PCA分析图 
					h4 4.12.2 表达趋势聚类分析
					p 由于实验分组是基于逻辑顺序，这种情况下，基因在不同处理阶段的表达趋势将成为研究的重点，如何将基因表达的主流趋势筛选出来进行后续研究成为趋势分析需解决的重点。常规的趋势聚类如 SOM 和 K-MEAN 等并不能将主流趋势筛选出来，我们通过 R 语言计算基因落入趋势模型的显著水平，将差异表达基因锁参与的主流表达趋势科学、准确地筛选了出来。理论上表达模式相似的基因可能就会参与相似的通路，或有相似的功能。
					.center
						a(href="html/img/A_down_and_up.png",class="lightbox")
							img(src="html/img/A_down_and_up.png",style="width:40%")
					//.center
					//	a(href=ob.profile[0],class="lightbox")
					//		img(src=ob.profile[0],style="width:40%")
					h6.center  基因表达趋势聚类
					//div 数据路径：/result/Specific/Expression_Profile/*/*.png
					h4 4.12.3 权重共表达网络分析
					p 基因共表达网络分析（Gene Co-expression Network Analysis）是根据基因表达信号值的动态变化，计算基因间的共表达关系，来建立基因转录调控模型，得到基因间的表达调控关系及调控方向，从而寻找一个或多个物种在不同发育阶段，或者不同组织在不同条件或处理下的全部基因表达调控网络模型以及关键基因，从而系统的研究生物体复杂的生命现象。 一般要求样本数大于 15 个，样本数越多越好。
					p 通常分四部分内容：
					p 1. 样本间的聚类分析
					p 该图为基于欧几里得距离（Euclidean distance）获得的样本聚类树图，相对而言，用 PCA方法获得的样本聚类图可靠性更好（因为PCA法对高位数据进行降维处理，除去了数据中的噪声，能有利于发现数据固有的模式）。
					.center
						a(href="html/img/sampleClustering.png",class="ligh得到同一基因的不用剪切类型图tbox")
							img(src="html/img/sampleClustering.png",style="width:40%")
					h6.center  样本聚类图 
					//+my_carousel(ob.sampleClustering,"carousel21","width:40%")
					//div 数据路径：/result/Specific/WGCNA/sampleClustering.png
					p 2. 差异表达基因聚类
					p 利用处理过的差异表达基因间的相关系数构建进化树，然后将进化树上关系较近的基因分为一个模块（module），不同的颜色代表不同的模块，每个模块里的基因的表达模式都是相似的，可能参与相同的生物学过程。
					.center
						a(href="html/img/genes_clustering_dendrogram.png",class="lightbox")
							img(src="html/img/genes_clustering_dendrogram.png",style="width:40%")
					h6.center  WGCNA构建共表达模块 
					//+my_carousel(ob.genes_clustering_dendrogram,"carousel22","width:40%")
					//div 数据路径：/result/Specific/WGCNA/genes_clustering_dendrogram.png
					p 3. 模块与性状相关性分析
					p 该部分研究针对模块的特性，找到对于本研究来说值得关注的目标模块。该图为模块与性状的相关性图。横轴表示性状，纵轴表示模块，颜色从绿色到红色，表示由负相关到正相关的变化，颜色越深，相关性越高（相关度值见小方格）。每个小方格中的数据包括：Pearson correlation 值（括号外面），P-value(括号内，表示 Pearson correlation值可信度大小，该值越小，可信度越高）。
					.center
						a(href="html/img/Module_trait_associations.png",class="lightbox")
							img(src="html/img/Module_trait_associations.png",style="width:40%")
					h6.center  模块与性状相关性分析 
					//+my_carousel(ob.Module_trait_associations,"carousel23","width:40%")
					//div 数据路径：/result/Specific/WGCNA/Module_trait_associations.png
					p 4. 共表达基因网络互作分析
					p 理论上，同一模块的差异表达基因存在一定的互作关系，这为研究基因调控及挖掘关键节点基因提供了一种有利的方法。采用 Cytoscape 软件对相同模块内的差异表达基因构建互作网络。根据模块和性状相关性图，找出与性状的相关性最大的模块，并对这些模块的基因进行基因互作分析。
					.center
						a(href="html/img/greenyellow.png",class="lightbox")
							img(src="html/img/greenyellow.png",style="width:40%")
					h6.center  共表达基因网络互作图 
					//+my_carousel(ob.cytoscape_network,"carousel24","width:40%")
					//div 数据路径：/result/Specific/WGCNA/cytoscape_network/
				if ob.AS.length
					h3 4.11 可变剪切分析 （附加）
					p 可变剪切(Alternative Splicing, AS)，是大多数真核生物细胞中普遍的一种基因表达方式。真核细胞的基因序列包含内含子(intron)与外显子(exon)，在基因转录成mRNA前体后内含子会被RNA剪切体移除，而外显子则保留于成熟mRNA中。一条未经剪切的RNA，可以具有多种外显子剪切形式，因此使得一个基因在不同时间、不同环境中可以翻译出不同的蛋白质，进而增加其生理状况下系统的复杂性或适应性。
					p 常见的可变剪切可以分成6类：
					p （1）外显子跳跃（Exon Skipping）
					p （2）内含子保留（Intron Retention）
					p （3）5'端可变剪接（Alternative 5' splice Site）
					p （4）3'端可变剪接（Alternative 3' splice Site）
					p （5）最后一个外显子可变剪接（Alternative Last Exon）
					p （6）第一个外显子可变剪接（Alternative First Exon）
					.center
						a(href="html/img/alternative_splicing.png",class="lightbox")
							img(src="html/img/alternative_splicing.png",style="width:50%")
						h6 可变剪切类型图
					我们使用去冗余的高质量转录本序列为参考，得到同一基因的不用剪切类型图
					+my_carousel(ob.AS,"carousel25","width:50%")
					h6.center 同一基因的不同剪切体
					div 结果路径: /result/AS/result/*.png

				h2#tail 5 所用软件及数据库
				h3#t1 5.1 软件及工具
				p Smrtanalysis_2.3.0:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://www.pacb.com/products-and-services/analytical-software/smrt-analysis/') (http://www.pacb.com/products-and-services/analytical-software/smrt-analysis/)
				p LSC 2.0:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://www.healthcare.uiowa.edu/labs/au/LSC/LSC_download.asp') (http://www.healthcare.uiowa.edu/labs/au/LSC/LSC_download.asp)
				p CD-hit-est 4.6:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://www.bioinformatics.org/cd-hit/') (http://www.bioinformatics.org/cd-hit/)
				p Transdecoder 3.0.0:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='https://github.com/TransDecoder') (https://github.com/TransDecoder)
				p Bowtie2 2.1.0:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://bowtie-bio.sourceforge.net/bowtie2/') (http://bowtie-bio.sourceforge.net/bowtie2/)
				p RSEM 1.2.15:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='https://github.com/deweylab/RSEM') (https://github.com/deweylab/RSEM)
				p edgeR 3.14.0:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://www.bioconductor.org/packages/release/bioc/html/edgeR.html') (http://www.bioconductor.org/packages/release/bioc/html/edgeR.html)
				p topGO 2.24.0:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://www.bioconductor.org/packages/release/bioc/html/topGO.html') (http://www.bioconductor.org/packages/release/bioc/html/topGO.html)
				p KOBAS 2.0:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://kobas.cbi.pku.edu.cn/home.do') (http://kobas.cbi.pku.edu.cn/home.do)
				//p WGCNA1.51:&nbsp;&nbsp;&nbsp;&nbsp;
				//	a(href='https://cran.r-project.org/web/packages/WGCNA/index.html') (https://cran.r-project.org/web/packages/WGCNA/index.html)
				//p Cytoscape3.4.0:&nbsp;&nbsp;&nbsp;&nbsp;
				//	a(href='http://www.cytoscape.org/') (http://www.cytoscape.org/)

				h3#t2 5.2 数据库信息
				p NT/NR:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='ftp://ftp.ncbi.nlm.nih.gov/blast/db/') (ftp://ftp.ncbi.nlm.nih.gov/blast/db/)
				p SWISS-PROT:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://www.ebi.ac.uk/uniprot') (http://www.ebi.ac.uk/uniprot)
				p KOG:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='ftp://ftp.ncbi.nlm.nih.gov/pub/COG/') (ftp://ftp.ncbi.nlm.nih.gov/pub/COG/)
				p GO:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://geneontology.org/') (http://geneontology.org/)
				p KEGG:&nbsp;&nbsp;&nbsp;&nbsp;
					a(href='http://www.genome.jp/kegg/') (http://www.genome.jp/kegg/)
				h2#ref 6 参考文献
				ul
					li [1] Alwine, J.C., Kemp, D.J., Stark, G.R. (1977). Method for detection of specific RNAs in agarose gels by transfer to diazobenzyloxymethylpaper and hybridization with DNA probes. Proc Natl Acad Sci USA 74: 5350–5354.
					li [2] Adams, M. D., Kelley, J. M., Gocayne, J. D., et al. (1991). Complementary DNA sequencing: expressed sequence tags and human genome project. Science 252 (5013): 1651-1656.
					li [3] Southern, E. M., Case-Green, S. C., Eider, J. K., et al. (1994). Arrays of complementary oligonucleotides for analysing the hybridisation behaviour of nucleic acids. Nucleic Acids Research22(8): 1368-1373.
					li [4] Mortazavi, A., Williams, B. A., McCue, K., et al. (2008). Mapping and quantifying mammalian transcriptomes by RNA-Seq. Nature methods 5(7): 621-628.
					li [5] Eid, J., Fehr, A., Gray, J., et al. (2009). Real-time DNA sequencing from single polymerase molecules. Science 323(5910):133-8. doi: 10.1126/ science.1162986.
					li [6] Westbrook, C. J., Karl, J. A., Wiseman, R. W., et al. (2015). No assembly required: Full-length MHC class I allele discovery by PacBio circular consensus sequencing. Human immunology 76(12): 891-896.
					li [7] Mangul, S., Yang, H. T., Hormozdiari, F., et al. (2016). HapIso: an accurate method for the Haplotype-Specific Isoforms reconstruction from long single-molecule reads. International Symposium on Bioinformatics Resear
					li [8] Vollmers, C., Penland, L., Kanbar, J. N., et al. (2015). Novel exons and splice variants in the human antibody heavy chain identified by single cell and single molecule sequencing. PloS one 10(1): e0117050.
					li [9] Xu, Z., Peters, R. J., Weirather, J., et al. (2015). Full‐length transcriptome sequences and splice variants obtained by a combination of sequencing platforms applied to different root tissues of Salvia miltiorrhiza
					li [10] Weirather, J. L., Afshar, P. T., Clark, T. A., et al. (2015). Characterization of fusion genes and the significantly expressed fusion isoforms in breast cancer by hybrid sequencing. Nucleic acids research: gkv562.
					li [11] Minoche , A. E., Dohm, J. C., Schneider, J., et al. (2015). Exploiting single-molecule transcript sequencing for eukaryotic gene prediction. Genome biology 16(1): 1.
					li [12] Ren, Y. P., Zhang, J. Q., Sun, Y., et al. (2016). Full-length transcriptome sequencing on PacBio platform (in Chinese). Chin Sci Bull 61: 1250–1254. doi: 10.1360/N972015-01384.
				//	li [13] Henikoff, S., Greene, E. A., Pietrokovski, S., et al. (1997). Gene families: the taxonomy of protein paralogs and chimeras. Science 278(5338):609-14. 
				//	li [14] Li, L., Stoeckert, C. J., Roos, D. S. (2003).OrthoMCL: identification of ortholog groups for eukaryotic genomes. Genome Research13(9):2178-89.
				//	li [15] Mercer, T. R., Dinger, M. E., Mattick, J. S. (2009). Long non-coding RNAs: insights into functions. Nature Reviews Genetics10(3): 155-159.
				//	li [16] Rinn, J. L, Chang, H. Y. (2012). Genome regulation by long noncoding RNAs. Annual review of biochemistry 81:145-66. 
				h2#contact 7 联系我们
				p 地址：北京市昌平区生命科学园区生命园路4号院5号楼
				p 电话：010-53259188
				p 邮箱：info@berrygenomics.com		
